@mixin light-colors {
  --bg-color: hsl(220, 86%, 99%);
  --menu-bg-color: #fff;
  --title-color: #000;
  --text-color: rgb(96, 96, 96);
  --very-transparent-color: rgba(27, 27, 27, 0.19);
}

@mixin dark-colors {
  --bg-color: hsl(220, 86%, 2%);
  --menu-bg-color: hsl(220, 2%, 17%);
  --title-color: #fff;
  --text-color: rgb(160, 160, 160);
  --very-transparent-color: rgba(240, 240, 240, 0.19);
}

#root {
  background-color: var(--bg-color);
  color: var(--text-color);
  
  @media (prefers-color-scheme: light) {
    @include light-colors;
  }
  
  @media (prefers-color-scheme: dark) {
    @include dark-colors;
  }

  &.light-theme{
    @include light-colors;
  }

  &.dark-theme {
    @include dark-colors;
  }
}