.container {
  display: flex;
  flex-direction: column;
  gap: .27rem;
  margin-bottom: .9rem;
}

.input {
  all: unset;
  display: block;
  border-radius: 6px;
  padding: .6rem;
  border: 2px solid var(--text-color);

  &:focus {
    border-color: var(--primary-color);
  }
}