.rootTag {
  gap: 1.27rem;
  color: var(--title-color);
  padding: 2.7rem;
}

.container {
  text-align: center;
  
  h1 {
    padding-bottom: 1.2rem;
  }
}

.linkGuest {
  align-self: center;
  color: var(--primary-color);
  text-decoration: none;

}