@use "../mixins/active-hover-transparent-bg" as hover-bg;
.settings > .link {  
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1.2rem 1.4rem;
  gap: 1.9rem;

  @include hover-bg.active-hover-transparent-bg
}