.settings {
  display: flex;
  flex-direction: column;
  overflow: auto;
  
  .link {
    padding: 1.2rem ;
    &:not(.user-profile){
      all: unset;
      cursor: pointer;
      display: block;
    }
  }

  hr {
    margin: .6rem 0;
  }
}