.user-profile {
  all: unset;
  cursor: pointer;

  &.for-header{
    margin: auto;
    border-radius: 50%;
    
    .icon {
      width: 2rem;
      height: 2rem;
    }
  }
  
  &.for-profile-page {
    margin: .9rem auto;
    display: inline-block;
    border-radius: 50%;
    .icon {
      width: 5rem;
      height: 5rem;
    }
  }

  .icon {
    display: flex;
    background-color: green;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }
  .text {
    display: inline-block;
	  margin: auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--text-gap);
  }
}