@use "../mixins/header-button";

//CONTENEDOR DEL MENU LAS OPCIONES Y EL BOTON
.container {
  grid-column: 5 / 6;
}

.button {
  all: unset;
  display: block;
  cursor: pointer;
  @include header-button.button
}

.menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  right: 0;
  top: 0;
  background-color: var(--menu-bg-color);
  box-shadow: 0 0 .9rem .12rem rgba(0, 0, 0, 0.2);
  border-radius: .27rem;
  transition: .27s;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  li {
    list-style-type: none;
  }
}

.option {
  all: unset;
  display: block;
  cursor: pointer;
  padding: 1.2em;
  white-space: nowrap;
  color: var(--title-color);

  &:hover {
    @media screen and (min-width: 1024px) {
      background-color: var(--very-transparent-color);
    }
  }

  &:active {
    background-color: var(--very-transparent-color);
  }
}