@use "../../../styles/mixins/active-hover-transparent-bg" as hover-bg;

.button {
  all: unset;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1.9rem;
  padding: 1.2rem 1.4rem;
  
  .title {
    color: var(--title-color);
  }
  .subtitle {
    display: block;
    margin-top: var(--text-gap);
    color: var(--text-color);
  }
  
  @include hover-bg.active-hover-transparent-bg
}