@mixin icon-color-for-light-theme {
  .text-color-fill-for-light-theme {
    fill: var(--text-color);
  }
  .bg-color-fill-for-light-theme {
    fill: var(--bg-color);
  }
  .text-color-stroke-for-light-theme {
    stroke: var(--text-color);
  }
  .bg-color-stroke-for-light-theme {
    stroke: var(--bg-color);
  }
}
  
@mixin icon-color-for-dark-theme {
  .text-color-fill-for-dark-theme {
    fill: var(--text-color);
  }
  .bg-color-fill-for-dark-theme {
    fill: var(--bg-color);
  }
  .text-color-stroke-for-dark-theme {
    stroke: var(--text-color);
  }  
  .bg-color-stroke-for-dark-theme {
    stroke: var(--bg-color);
  }
}