.messages {
	margin-top: auto;
	font-size: 1.27rem;
	color: var(--title-color);
}

.form {
	position: sticky;
	bottom: 0;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: flex-end;
}

.textArea {
	border: unset;
	outline: unset;
	box-sizing: border-box;
	background-color: #1b1b1b;
	color: var(--title-color);
	font-size: 1.09rem;
	min-height: 1.27rem;
	padding: .6rem .8rem;
	resize: unset;
}

.btn {
	all: unset;
	border: 1px solid green;
	padding: .6rem .8rem;
	cursor: pointer;
	border-radius: 6rem;
	transition-property: color, border-color;
	transition-duration: .27s;

	&:hover, &:active {
		color: var(--title-color);
		border-color: lime;
	}
}

.chatFromMe {
	background-color: var(--primary-color);
	margin-left: auto;
	max-width: 72%;
	padding: .9rem;
	border-radius: 9px;
	margin-bottom: .27rem;
}

.chatFromOther {
	margin-bottom: .27rem;
	border-radius: 9px;
	padding: .72rem;
	margin-right: auto;
	max-width: 72%;
	background-color: var(--menu-bg-color);
}